/*------------------------------------------------------------------------------
  1.0 - Post Statuses
------------------------------------------------------------------------------*/

/* Pending */
.post-state .pending {
	position:relative;
	top:-1px;
	padding:2px 5px;
	color:#000;
	font-size:9px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,0.6) 0 1px 0;
	background:#dba811;
	background:-moz-linear-gradient(bottom,  #dba811,  #efcb3b);
	background:-webkit-gradient(linear, left bottom, left top, from(#dba811), to(#efcb3b));
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:1px 0 0 #dba811 inset, -1px 0 0 #dba811 inset, 0 1px 0 #dba811 inset, 0 -1px 0 #dba811 inset;
	-webkit-box-shadow:1px 0 0 #dba811 inset, -1px 0 0 #dba811 inset, 0 1px 0 #dba811 inset, 0 -1px 0 #dba811 inset;
	-moz-box-shadow:1px 0 0 #dba811 inset, -1px 0 0 #dba811 inset, 0 1px 0 #dba811 inset, 0 -1px 0 #dba811 inset;
}

/* Draft */
.post-state .draft {
	position:relative;
	top:-1px;
	padding:2px 5px;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	text-shadow:rgba(0,0,0,0.7) 0 -1px 0;
	background:#870804;
	background:-moz-linear-gradient(bottom,  #870804,  #c10c05);
	background:-webkit-gradient(linear, left bottom, left top, from(#870804), to(#c10c05));
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:1px 0 0 #870804 inset, -1px 0 0 #870804 inset, 0 1px 0 #870804 inset, 0 -1px 0 #870804 inset;
	-webkit-box-shadow:1px 0 0 #870804 inset, -1px 0 0 #870804 inset, 0 1px 0 #870804 inset, 0 -1px 0 #870804 inset;
	-moz-box-shadow:1px 0 0 #870804 inset, -1px 0 0 #870804 inset, 0 1px 0 #870804 inset, 0 -1px 0 #870804 inset;
}

/* Sticky */
.post-state .sticky {
	position:relative;
	top:-1px;
	padding:2px 5px;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	text-shadow:rgba(0,0,0,0.7) 0 -1px 0;
	background:#277fac;
	background:-moz-linear-gradient(bottom,  #277fac,  #3db0eb);
	background:-webkit-gradient(linear, left bottom, left top, from(#277fac), to(#3db0eb));
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:1px 0 0 #277fac inset, -1px 0 0 #277fac inset, 0 1px 0 #277fac inset, 0 -1px 0 #277fac inset;
	-webkit-box-shadow:1px 0 0 #277fac inset, -1px 0 0 #277fac inset, 0 1px 0 #277fac inset, 0 -1px 0 #277fac inset;
	-moz-box-shadow:1px 0 0 #277fac inset, -1px 0 0 #277fac inset, 0 1px 0 #277fac inset, 0 -1px 0 #277fac inset;
}

/* Private */
.post-state .private {
	position:relative;
	top:-1px;
	padding:2px 5px;
	color:#000;
	font-size:9px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,1) 0 1px 0;
	background:#ddd;
	background:-moz-linear-gradient(bottom,  #ddd,  #fff);
	background:-webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:1px 0 0 #ccc inset, -1px 0 0 #ccc inset, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
	-webkit-box-shadow:1px 0 0 #bbb inset, -1px 0 0 #bbb inset, 0 1px 0 #bbb inset, 0 -1px 0 #bbb inset;
	-moz-box-shadow:1px 0 0 #ccc inset, -1px 0 0 #ccc inset, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
}

/* Password Protected */
.post-state .password-protected {
	position:relative;
	top:-1px;
	padding:2px 5px;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	text-shadow:rgba(0,0,0,1) 0 -1px 0;
	background:#222;
	background:-moz-linear-gradient(bottom,  #222,  #333);
	background:-webkit-gradient(linear, left bottom, left top, from(#222), to(#555));
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:1px 0 0 #222 inset, -1px 0 0 #222 inset, 0 1px 0 #222 inset, 0 -1px 0 #222 inset;
	-webkit-box-shadow:1px 0 0 #222 inset, -1px 0 0 #222 inset, 0 1px 0 #222 inset, 0 -1px 0 #222 inset;
	-moz-box-shadow:1px 0 0 #222 inset, -1px 0 0 #222 inset, 0 1px 0 #222 inset, 0 -1px 0 #222 inset;
}

/* Make the hyphen before all post statuses 
invisible - #TIGERBLOOD */
.status-pending strong,
.status-publish strong,
.status-private strong,
.status-draft strong {
	color:#f9f9f9;
}
.alternate.status-pending strong,
.alternate.status-publish strong,
.alternate.status-private strong,
.alternate.status-draft strong {
	color:#fcfcfc;
}

/* Remove excess space now that the hyphen 
is invisible - #SOMETHING */
.status-pending .row-title,
.status-publish .row-title,
.status-private .row-title,
.status-draft .row-title {
	margin-right:-4px;
	position:relative;
	z-index:10;
}

/* Remove invisibility cloak for non-linked
post titles. (non-admin users) */
.author-other strong,
.alternate.author-other strong {
	color:#555;
}

/* Fix ugly alignment bug introduced in WP3.2 */
.widefat td {
	padding-top:6px;
	padding-bottom:6px;
}


/*------------------------------------------------------------------------------
  1.1 - Post Formats
------------------------------------------------------------------------------*/

/* Image */
.format-image .post-state-format {
	position:relative;
	top:1px;
	left:-2px;
	padding-left:20px;
	background:url(images/postformat-image.png) top left no-repeat;
}

/* Quote */
.format-quote .post-state-format {
	position:relative;
	top:1px;
	left:-2px;
	padding-left:14px;
	background:url(images/postformat-quote.png) top left no-repeat;
}

/* Aside */
.format-aside .post-state-format {
	position:relative;
	top:-1px;
	left:-2px;
	padding-left:15px;
	background:url(images/postformat-aside.png) top left no-repeat;
}

/* Gallery */
.format-gallery .post-state-format {
	position:relative;
	top:1px;
	left:-2px;
	padding-left:20px;
	background:url(images/postformat-gallery.png) top left no-repeat;
}

/* Status */
.format-status .post-state-format {
	position:relative;
	top:0;
	left:-2px;
	padding-left:14px;
	background:url(images/postformat-status.png) top left no-repeat;
}

/* Link */
.format-link .post-state-format {
	position:relative;
	top:1px;
	left:-2px;
	padding-left:18px;
	background:url(images/postformat-link.png) top left no-repeat;
}

/* Add spacing back in for non-admin users
who have to see hyphens */
.author-other.format-image	 .post-state-format,
.author-other.format-quote .post-state-format,
.author-other.format-aside .post-state-format,
.author-other.format-gallery .post-state-format,
.author-other.format-status .post-state-format,
.author-other.format-link .post-state-format {
	left:0;
}